@model IEnumerable<Models.Course>


@{
    Layout = "~/Views/Dashboard/Dashboard.cshtml";
}




<div class="box span12">
    <div class="box-header" data-original-title>
        <h2><i class="halflings-icon user"></i><span class="break"></span>Course Information</h2>
        <div class="box-icon">
            <a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
            <a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
            <a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
        </div>
    </div>
    <div class="box-content">

        <label for="Name" class="col-md-6">
            @if (ViewBag.Msg == "Success")
            {
                <span style="color: green" class="text-center">Successfully Deleted One Item!</span>
            }
            else if (ViewBag.Msg == "Failed")
            {
                <span style="color: red" class="text-center"> Sorry Execution failed!</span>
            }
        </label>
        
        <table class="table table-striped table-bordered bootstrap-datatable datatable">
            <thead>
                <tr>
                    <th>SL</th>
                    <th>Course Name</th>
                    <th>Organization</th>
                    <th>Course Code</th>
                    <th>Course Duration</th>
                    <th>Credit</th>
                    <th>OutLine</th>
                    <th>Tags</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>

                @{
                    
                    int i = 1;

                    foreach (var course in Model)
                    {
                        <tr>
                            <td>@(i++)</td>
                            <td>@course.Name</td>
                            <td>@course.Organization.Name</td>
                            <td class="center">@course.Code</td>
                            <td class="center" width="150">@course.CourseDuration</td>
                            <td class="center">@course.Credit</td>
                            <td class="center">@course.OutLine</td>
                            <td class="center">@course.Tags</td>
                            <td class="center" width="200">
                                <a class="btn btn-success" href="/Course/Details/@course.Id">
                                    <i class="halflings-icon white zoom-in"></i>
                                </a>
                                <a class="btn btn-info" href="/Course/EditCourse/@course.Id">
                                    <i class="halflings-icon white edit"></i>
                                </a>
                                <a class="btn btn-danger" href="/Course/Delete/@course.Id">
                                    <i class="halflings-icon white trash"></i>
                                </a>
                            </td>
                        </tr>
                    }

                }




            </tbody>

        </table>


    </div>
</div><!--/span-->
