@using System.Web.Mvc.Html
@model Models.ViewMoldels.Course.CourseCreateVM

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EntryForm</title>
    
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    

</head>
<body>
    <div>
        <h1> Course Entry</h1>
        <form method="POST">

            <div class="container">

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, null, new { @class = "text-danger" })
                    <div class="form-group">
                        <label for="Name" class="col-md-2">Oganization Name</label>
                        <div class="col-md-10">
                       @Html.DropDownListFor(c => c.OrganizationId, Model.SelectListItemsOrganization, new { @class = "form-control" })
                            @Html.ValidationMessageFor(c => c.OrganizationId, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Name" class="col-md-2">Name</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(c => c.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(c => c.Name)
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Code" class="col-md-2">Code</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(c => c.Code, new { @class = "form-control" })
                            @Html.ValidationMessageFor(c => c.Code)
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="CourseDuration" class="col-md-2">Course Duration</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(c => c.CourseDuration, new { @class = "form-control" })
                            @Html.ValidationMessageFor(c => c.CourseDuration)
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Credit" class="col-md-2">Credit</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(c => c.Credit, new { @class = "form-control" })
                            @Html.ValidationMessageFor(c => c.Credit)
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="OutLine" class="col-md-2">OutLine</label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(c => c.OutLine, new { @class = "form-control" })
                            @Html.ValidationMessageFor(c => c.OutLine)
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Tags" class="col-md-2">Tags</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(c => c.Tags, new { @class = "form-control" })
                            @Html.ValidationMessageFor(c => c.Tags)
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary col-md-offset-2" />
                    </div>

                </div>
            </div>
        </form>
 
    </div>
    
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

</body>
</html>
