@using System.Web.Mvc.Html

@model Models.ViewMoldels.Organization.OrganizationCreateVM

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> Organization Entry Form</title>
    

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    

</head>
<body>
    <div>
        
        <h1> Organization Entry</h1>
        @if (ViewBag.Msg == "Success")
            {
                <h1 style="color: green" class="text-center"> Saved Successfull!</h1>
            }
            else if (ViewBag.Msg == "Failed")
        {
            <h1 style="color: red" class="text-center"> Sorry failed!</h1>
        }
        <form method="POST">

            <div class="container">

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, null, new { @class = "text-danger" })
                    <div class="form-group">
                        <label for="Name" class="col-md-2">Name</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(c => c.Name, new { @class = "form-control", id = "StudentName" })
                            @Html.ValidationMessageFor(c => c.Name, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Code" class="col-md-2">Code</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(c => c.Code, new { @class = "form-control" })
                            @Html.ValidationMessageFor(c => c.Code)
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ContactNo" class="col-md-2">Contact No</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(c => c.ContactNo, new { @class = "form-control" })
                            @Html.ValidationMessageFor(c => c.ContactNo)
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Address" class="col-md-2">Address</label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(c => c.Address, new { @class = "form-control" })
                            @Html.ValidationMessageFor(c => c.Address)
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="About" class="col-md-2">About</label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(c => c.About, new { @class = "form-control" })
                            @Html.ValidationMessageFor(c => c.About)
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Logo" class="col-md-2">Logo</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(c => c.LogoName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(c => c.LogoName)
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary col-md-offset-2" />
                    </div>

                </div>
            </div>
        </form>

    </div>
    


    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    

</body>
</html>
