@model IEnumerable<Models.Batch>


@{
    Layout = "~/Views/Dashboard/Dashboard.cshtml";
}




<div class="box span12">
    <div class="box-header" data-original-title>
        <h2><i class="halflings-icon user"></i><span class="break"></span>Course Information</h2>
        <div class="box-icon">
            <a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
            <a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
            <a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
        </div>
    </div>
    <div class="box-content">

        <label for="Name" class="col-md-6">
            @if (ViewBag.Msg == "Success")
            {
                <span style="color: green" class="text-center">Successfully Deleted One Item!</span>
            }
            else if (ViewBag.Msg == "Failed")
            {
                <span style="color: red" class="text-center"> Sorry Execution failed!</span>
            }
        </label>

        <table class="table table-striped table-bordered bootstrap-datatable datatable">
            <thead>
                <tr>
                    <th>SL</th>
                    <th>Batch No</th>
                    <th>Organization Name</th>
                    <th>Course Name</th>
                    <th>Description</th>
                    <th>Start Date</th>
                    <th>End Date</th>
             <th>Actions</th>
                </tr>
            </thead>
            <tbody>

                @{

                    int i = 1;

                    foreach (var batch in Model)
                    {
                        <tr>
                            <td>@(i++)</td>
                            <td>@batch.BatchNo</td>
                            <td>@batch.OrganizationId</td>
                            <td class="center">@batch.CourseId</td>
                            <td class="center" width="150">@batch.Description</td>
                            <td class="center">@batch.StartDate</td>
                            <td class="center">@batch.EndDate</td>
                         <td class="center" width="200">
                                <a class="btn btn-success" href="/Batch/Details/@batch.Id">
                                    <i class="halflings-icon white zoom-in"></i>
                                </a>
                                <a class="btn btn-info" href="/Batch/EditBatch/@batch.Id">
                                    <i class="halflings-icon white edit"></i>
                                </a>
                                <a class="btn btn-danger" href="/Batch/Delete/@batch.Id">
                                    <i class="halflings-icon white trash"></i>
                                </a>
                            </td>
                        </tr>
                    }

                }




            </tbody>

        </table>


    </div>
</div><!--/span-->
